

{% extends 'base.html' %}

{% block title %}subpartner home{% endblock %}

{% block content %}
<div class="columns">
    <div class="column is-one-third"></div>
    <div class="column has-text-centered">
        <br><br>
        <h1 class="title">subpartner.in</h1>
        <p class="content">Share subscriptions with others and save money.</p>
        <br><br>
        <a href="/login"><button class="button is-large is-rounded is-primary">Login</button></a> <a
            href="/register"><button class="button is-large is-rounded is-link">Register</button></a>
    </div>
    <div class="column"></div>
</div>
{% endblock %}